@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Dancing+Script:wght@600&display=swap')
div{
    
    height: 100px;
    width: 150px;
}
#w1{
    background-color: rgb(0, 0, 0);
    margin-left: 50px;
    margin-top: 100px;

}
header{
    font-family: 'Ceviche One', cursive;
}
footer{
    font-family: 'Dancing Script', cursive;
}